/* general stuff */

:root {
    --grid-color: #cecece;
    --time-color: #777;
    --slot-hover-color: #eee;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --font-color: #222;
    --color-red: rgb(190, 35, 15);
    --color-blue: rgb(54, 92, 175);
    --color-green: rgb(21, 129, 21);
    --color-orange: rgb(233, 153, 4);
    --slotHeight: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
}

input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}


/* event modal */

#eventModal {
    display: none; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--shadow-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    padding: 20px;
    width: 450px;
    min-width: 250px;
}

#errors {
    color: var(--color-red);
}

#modalTitle {
    margin-bottom: 20px;
}

#eventModal label {
    font-weight: bold;
    display: inline-block;
    margin: 20px 10px 5px 0px;
}

.shortInput {
    border-bottom: 1px solid var(--grid-color);
    padding: 2px 1px;
}

.shortInput:focus {
    border-bottom: 1px solid var(--font-color);
}

#eventTitle {
    width: 85% !important;
}

#eventStart {
    margin-right: 10px;
}

#eventEnd {
    margin-left: 10px;
}

#eventControls {
    margin: 25px 0px 10px 0px;
}

.button {
    padding: 10px 20px;
    background-color: var(--color-blue);
    color: white;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 2px;
}

#deleteButton {
    background-color: var(--color-red);
}

.button:hover,
.button:focus {
    opacity: 0.8;
}